

div {
    margin-left:auto;
    margin-right:auto;
    height:auto; 
    width:auto;
    font-family:"Comic Sans MS", cursive, sans-serif;
    font-size:60px
}



ul
{
    list-style-type: none;
    left:50%;
}
